<h1 class="title is-1 has-text-primary">募集内容変更ページ</h1>

<!-- エラーあれば件数を表示 -->
<% if @invite.errors.any? %>
<div id="error_explanation">
  <h2><%= @invite.errors.count %>件のエラーが発生しました。</h2>
  <ul>
    <% @invite.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="box">
  <%= form_for(@invite) do |f| %>

  <div class="field">
    <%= f.label "写真ファイル" %>
    <%= attachment_image_tag @invite, :image, :fill, 700, 450, fallback: "no_image.jpg" %>
    <%= f.attachment_field :image %>
  </div>

  <div class="field">
    <%= f.label "動画ファイル" %>
    <%= f.file_field :video, :accept => 'video/*' %>
  </div>

  <div class="field">
    <p class="control">
      <%= f.label "募集タイトル" %>
      <%= f.text_field :title, autofocus: true, class: "input", placeholder: "（例：甘えん坊な茶トラくん）", autocomplete: "title" %>
    </p>
  </div>

  <div class="field">
    <p class="control">
      <%= f.label "募集内容" %>
      <%= f.text_area :content, autofocus: true, class: "input", placeholder: "（例：庭に迷い込んだところを保護しました。）", autocomplete: "content" %>
    </p>
  </div>

  <div class="field">
    <%= f.label "性別" %>
    <p class="control">
      <%= f.radio_button :sex, :未選択 %>
      <%= f.label :sex, "未選択", {value: :未選択} %>
      <%= f.radio_button :sex, :オス %>
      <%= f.label :sex, "オス", {value: :オス} %>
      <%= f.radio_button :sex, :メス %>
      <%= f.label :sex, "メス", {value: :メス} %>
    </p>
  </div>

  <div class="field">
    <%= f.label "年齢" %>
    <p class="control">
      <%= f.radio_button :age, :未選択 %>
      <%= f.label :age, "未選択", {value: :未選択} %>
      <%= f.radio_button :age, :子猫 %>
      <%= f.label :age, "子猫", {value: :子猫} %>
      <%= f.radio_button :age, :成猫 %>
      <%= f.label :age, "成猫", {value: :成猫} %>
      <%= f.radio_button :age, :老猫 %>
      <%= f.label :age, "老猫", {value: :老猫} %>
    </p>
  </div>

  <div class="field">
    <%= f.label "種類" %>
    <p class="control">
      <div class="select">
        <%= f.select :type, Invite.types.keys, {} %>
      </div>
    </p>
  </div>

  <div class="actions">
    <%= f.submit "変更内容を保存する", class: "button is-success" %>
  </div>
  <% end %>
</div>