<span class="devise-header">　新規会員登録　</span>
<div class="row form-contens">

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

   <div class="form-group form-group-sm col-xs-11">
    <%= f.label "名前", class: "col-xs-3 control-label" %>
    <%= f.text_field :name, autofocus: true, class: "col-xs-3 form-control-static" %>
  </div>
  <div class="form-group form-group-sm col-xs-11">
    <%= f.label "フリガナ", class: "col-xs-3 control-label" %>
    <%= f.text_field :name_kana, autofocus: true, class: "col-xs-3 form-control-static" %>
  </div>

  <div class="form-group form-group-sm col-xs-11">
    <%= f.label "メールアドレス", class: "col-xs-4 control-label" %>
    <%= f.text_field :email, autofocus: true, autocomplete: "email", class: "col-xs-3 form-control-static" %>
  </div>

  <div class="form-group form-group-sm col-xs-11">
    <%= f.label "郵便番号（ハイフンなし）", class: "col-xs-4 control-label" %>
    <%= f.text_field :postal_code, autofocus: true, class: "col-xs-3 form-control-static" %>
  </div>

  <div class="form-group form-group-sm col-xs-11">
    <%= f.label "住所", class: "col-xs-4 control-label" %>
    <%= f.text_field :address, class: "col-xs-7 form-control-static" %>
  </div>

  <div class="form-group form-group-sm col-xs-11">
    <%= f.label "電話番号（ハイフンなし）", class: "col-xs-4 control-label" %>
    <%= f.text_field :phone, autofocus: true, class: "col-xs-3 form-control-static" %>
  </div>

  <div class="form-group form-group-sm col-xs-11">
    <%= f.label "パスワード(6文字以上)", class: "col-xs-4 control-label" %>
    <%= f.password_field :password, autocomplete: "new-password", class: "col-xs-3 form-control-static" %>
  </div>

  <div class="form-group form-group-sm col-xs-11">
    <%= f.label "パスワード(確認用)", class: "col-xs-4 control-label" %>
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "col-xs-3 form-control-static" %>
  </div>

    <div class="actions">
      <%= f.submit "新規登録",  class: "btn btn-success col-xs-2 col-xs-offset-5" %>
    </div>

  <% end %>
</div>

<div class="row">
  <span class="devise-header">　既に登録済の方　</span>
  <p class="col-xs-offset-1"><br><%= link_to "こちら", new_session_path(resource_name) %>からログインしてください</p>
</div>
